<app-header></app-header>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xl-12 connectedSortable">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inspection</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Select State</label>
                                <select class="form-control" (change)="getDistricts($event.target.value)">
                                    <option value="0">Select State</option>
                                    <option *ngFor="let state of states" [innerHtml]="state.stateName" [value]="state.stateId"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Select District</label>
                                <select class="form-control" (change)="getBranches($event.target.value)">
                                    <option value="0">Select District</option>
                                    <option *ngFor="let district of districts" [innerHtml]="district.districtName" [value]="district.districtId"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Select Branch</label>
                                <select class="form-control" (change)="getSelectedBranch($event.target.value)">
                                    <option value="0">Select Branch</option>
                                    <option *ngFor="let branch of branches" [innerHtml]="branch.branchName" [value]="branch.branchId"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Select Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #e="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="form-group">
                                <button id="btnAddIdDefaulters" name="btnAddIdDefaulters" class="btn btn-theme mt-3">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 5px">
        </div>
        <div class="row">
            <div class="col-xl-12 connectedSortable">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Discipline - Assembly</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Start Time (On Time)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <input type="text" style="width:40px" placeholder="00:00" id="txtAssemblyStartTime" name="txtAssemblyStartTime" [(ngModel)]="assemblyStartTime">
                                <input type="radio" id="rbAssemblyStartTimeYes" value="assemblyStartTimeYes" name="assemblyStartTimeDelay" [(ngModel)]="isAssemblyStartedOnTime">
                                <label for="rbAssemblyStartTimeYes" (click)="hideAssemblyStartTimeDelay()"> Yes</label>
                                <input type="radio" id="rbAssemblyStartTimeNo" value="assemblyStartTimeNo" name="assemblyStartTimeDelay" [(ngModel)]="isAssemblyStartedOnTime">
                                <label for="rbAssemblyStartTimeNo" (click)="showAssemblyStartTimeDelay()"> No</label>
                            </div>
                        </div>
                        <div class="col-xl-2" *ngIf="isAssemblyNotStartedOnTime">
                            <div class="form-group">
                                <label>Delay In Minutes</label>
                            </div>
                        </div>
                        <div class="col-xl-1" *ngIf="isAssemblyNotStartedOnTime">
                            <div class="form-group">
                                <input type="text" style="width: 45px" placeholder="00:00" id="txtStartTimeDelayInMinutes" name="txtStartTimeDelayInMinutes"
                                    [ngModel]="startTimeDelayInMinutes">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>School Prayer (Conducted)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <input type="radio" id="rbAssemblySchoolPrayerConductedYes" value="assemblySchoolPrayerConductedYes" name="assemblySchoolPrayerConducted"
                                    [(ngModel)]="isAssemblySchoolPrayerConducted">
                                <label for="rbAssemblySchoolPrayerConductedYes"> Yes</label>
                                <input type="radio" id="rbAssemblySchoolPrayerConductedNo" value="assemblySchoolPrayerConductedNo" name="assemblySchoolPrayerConducted"
                                    [(ngModel)]="isAssemblySchoolPrayerConducted">
                                <label for="rbAssemblySchoolPrayerConductedNo"> No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Ending Time (On Time)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <input type="text" style="width:40px" placeholder="00:00" id="txtEndTime" name="txtEndTime" [ngModel]="endTime">
                                <input type="radio" id="rbAssemblyEndTimeYes" value="assemblyEndTimeYes" name="assemblyEndTimeDelay" [(ngModel)]="isAssemblyEndedOnTime">
                                <label for="rbAssemblyEndTimeYes" (click)="hideAssemblyEndTimeDelay()"> Yes</label>
                                <input type="radio" id="rbAssemblyEndTimeNo" value="assemblyEndTimeNo" name="assemblyEndTimeDelay" [(ngModel)]="isAssemblyEndedOnTime">
                                <label for="rbAssemblyEndTimeNo" (click)="showAssemblyEndTimeDelay()"> No</label>
                            </div>
                        </div>
                        <div class="col-xl-2" *ngIf="isAssemblyNotEndedOnTime">
                            <div class="form-group">
                                <label>ForeCloser Minutes</label>
                            </div>
                        </div>
                        <div class="col-xl-1" *ngIf="isAssemblyNotEndedOnTime">
                            <div class="form-group">
                                <input type="text" style="width: 45px" placeholder="00:00" id="txtForeCloserMinutes" name="txtForeCloserMinutes" [ngModel]="foreCloserMinutes">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Thought For The Day (Read)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <input type="radio" id="rbAssemblyThoughtForTheDayReadYes" value="assemblyThoughtForTheDayReadYes" name="assemblyThoughtForTheDayRead"
                                [(ngModel)]="isAssemblyThoughtForTheDayRead">
                            <label for="rbAssemblyThoughtForTheDayReadYes"> Yes</label>
                            <input type="radio" id="rbAssemblyThoughtForTheDayReadNo" value="assemblyThoughtForTheDayReadNo" name="assemblyThoughtForTheDayRead"
                                [(ngModel)]="isAssemblyThoughtForTheDayRead">
                            <label for="rbAssemblyThoughtForTheDayReadNo"> No</label>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>EKIDZ Song (Read)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <input type="radio" id="rbAssemblyEKIDZSongReadYes" value="assemblyEKIDZSongReadYes" name="assemblyEKIDZSongRead" [(ngModel)]="isAssemblyEKIDZSongRead">
                                <label for="rbAssemblyEKIDZSongReadYes"> Yes</label>
                                <input type="radio" id="rbAssemblyEKIDZSongReadNo" value="assemblyEKIDZSongReadNo" name="assemblyEKIDZSongRead" [(ngModel)]="isAssemblyEKIDZSongRead">
                                <label for="rbAssemblyEKIDZSongReadNo"> No</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label>Warm Up Song (Read)</label>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <input type="radio" id="rbAssemblyWarmUpSongReadYes" value="assemblyWarmUpSongReadYes" name="assemblyWarmUpSongRead" [(ngModel)]="isAssemblyWarmUpSongRead">
                            <label for="rbAssemblyWarmUpSongReadYes"> Yes</label>
                            <input type="radio" id="rbAssemblyWarmUpSongReadNo" value="assemblyWarmUpSongReadNo" name="assemblyWarmUpSongRead" [(ngModel)]="isAssemblyWarmUpSongRead">
                            <label for="rbAssemblyWarmUpSongReadNo"> No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 5px">

        </div>
        <div class="row">
            <div class="col-xl-12 connectedSortable">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Discipline-Uniform</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <label>Search for Student Regestration Number</label>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <input type="text" style="width: 250px" placeholder="Search for students...">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group">
                                <button id="btnAddIdDefaulters" name="btnAddIdDefaulters" class="btn btn-theme mt-3">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <!-- <mwl-text-input-autocomplete-container>
                            <textarea placeholder="Type @ to search..." class="form-control" rows="5" [(ngModel)]="formControlValue"
                                mwlTextInputAutocomplete [findChoices]="findChoices" [getChoiceLabel]="getChoiceLabel">
                                </textarea>
                        </mwl-text-input-autocomplete-container> -->
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-12 connectedSortable">
                <div class="box box-info">
                    <div class="box-body">
                        <h3>Discipline - Uniform</h3>
                        <div class="row m-b-20">
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <label>Uniform Defaulters</label>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <input type="text" id="txtUniformDefaulters" name="txtUniformDefaulters" [ngModel]="uniformDefaulters">
                                    <button id="btnAddUniformDefaulters" name="btnAddUniformDefaulters" class="btn btn-theme mt-3">Add</button>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <label>Late Comers</label>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <input type="text" id="txtLateComers" name="txtLateComers" [ngModel]="lateComers">
                                    <button id="btnAddLateComers" name="btnAddLateComers" class="btn btn-theme mt-3">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-20">
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <label>ID Defaulters</label>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <input type="text" id="txtIdDefaulters" name="txtIdDefaulters" [ngModel]="idDefaulters">
                                    <button id="btnAddIdDefaulters" name="btnAddIdDefaulters" class="btn btn-theme mt-3">Add</button>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <label>Shoe Defaulters</label>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="form-group">
                                    <input type="text" id="txtShoeDefaulters" name="txtShoeDefaulters" [ngModel]="shoeDefaulters">
                                    <button id="btnAddShoeDefaulters" name="btnAddShoeDefaulters" class="btn btn-theme mt-3">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</div>
<app-footer></app-footer>
