<header class="main-header">
        <a href="index.html" class="logo">
                <span class="logo-mini"><img src="../assets/images/mini-logo.jpg" alt=""></span>
                <span class="logo-lg"> <img src="../assets/images/s2.gif" alt="User Image" width="100%"> </span>
        </a>
        <nav class="navbar navbar-static-top">
                <a style="cursor:pointer" class="sidebar-toggle" data-toggle="push-menu" role="button" (click)="toggleMenu()">
                        <span class="sr-only">Toggle navigation</span>
                </a>
                <h4 style="font-weight: bold; margin: 0; color: #ffffff;" class="avtitle" [innerHtml]="headerTitle">
                </h4>
                <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                        </ul>
                </div>
        </nav>
</header>
<aside class="main-sidebar">
        <section class="sidebar" style="background-color: #fff;">
                <ul class="sidebar-menu" data-widget="tree">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/inspection-report']">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Inspection Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/av-report']">
                                        <i class="fa fa fa-th"></i>
                                        <span>AV Module Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/micro-schedule-report']">
                                        <i class="fa fa-pie-chart"></i>
                                        <span>Micro Schedule Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/data-entry-report']">
                                        <i class="fa fa-laptop"></i>
                                        <span>Data Entry Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/mess-report']">
                                        <i class="fa fa-edit"></i>
                                        <span>Mess Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/assets-report']">
                                        <i class="fa fa-table"></i>
                                        <span>Assets Report</span> </a> </li>
                        <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/feedback-report']">
                                        <i class="fa fa-envelope"></i>
                                        <span>Feedback Report</span> </a> </li> -->
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/transportation-report']">
                                        <i class="fa fa-truck"></i>
                                        <span>Transportation Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/marketing-report']">
                                        <i class="fa fa-folder"></i>
                                        <span>Marketing Report</span> </a> </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/login']">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span> </a> </li>
                </ul>
        </section>
</aside>