.main-footer {    left: 0px !important;  margin-left: 0px !important; }

.wrapper{
    background-color: transparent !important;
}

body{
    background-image: url('../../assets/images/lbg.jpg') !important; 
}