<header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="images/minimal.png" alt=""></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"> <img src="../assets/images/s2.gif"   alt="User Image" width="100%"> </span>
    </a>
    <!-- Header Navbar-->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
       <h4 style="   font-weight: bold; color: #ffffff;"> Digital Class Room Usage Details  </h4>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
               
                <!-- <li>
                    <a href="#" data-toggle="control-sidebar" style="font-size: 22px;"> Audio Video  Module Repor</a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar" >
    <!-- sidebar -->
    <section class="sidebar" style="background-color: #fff;">
        <!-- Sidebar user panel -->


        <!-- sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">

             
            <li class="active"> <a href="#"> <i class="fa fa-dashboard"></i> <span>Inspection Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>AV Module Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Micro Schedule Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Data Entry Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Mess Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Assets Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Feedback Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Transportation Report</span> </a> </li>
            <li> <a href="#"> <i class="fa fa-dashboard"></i> <span>Marketing Report</span> </a> </li> 
            <li> <a href="#" style="height: 139px;;">  <span> </span> </a> </li> 






        </ul>
    </section>

</aside>